@font-face {
    font-family: 'iconfont';
    src:url('/iconfont.ttf') format('truetype'),
    url('/iconfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#selectBoxContainer{
    background-color: #fff;
    box-sizing: border-box;
    /*border:double #ccc;*/
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
    z-index:2;

    transition:transform 0.5s;
    transform:translate(0,0)
}

#selectBoxContainer.hidden{
    transform:translate(0,100%)
}

#select-box{
    width: 100%;
}
#select-box .select{
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 100%;
}

#select-box ul{
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}
#select-box ul > li{
    box-sizing: border-box;
    margin:0 0.5%;
    border:1px solid #bbb;
    border-radius: 4px;
    padding: 0 5px;
    width: 24%;
    font-size: 16px;
    line-height: 1.5em;
    list-style:none;
    text-align: center;
}

#select-box ul > li i{
    margin-right: 2px;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
}


#selectBoxContainer .op{
    margin:0;
    padding:0 5px 5px 0;
    overflow: hidden;
}
#selectBoxContainer .op button{
    background-color: #fff;
    padding:5px 15px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-size: 14px;
    float: right;
    outline:none;

    cursor: pointer;

}

.weapon-icon:before{
    font-family:'iconfont';
    content:'\e600';
}
.defense-icon:before{
    font-family:'iconfont';
    content:'\e602';
}
.man-icon{
    font-family:'iconfont ';
}
.man-icon:after{
    font-family:'iconfont';
    content:'\e605';
}
.other-icon:before{
    font-family:'iconfont';
    content:'\e606';
}
