<div id="select-box">
    <section class="select">

        <ul>
            <li data-value="武器" data-index="0">
                <i class="weapon-icon"></i>武器
            </li>
            <li data-value="防具" data-index="1">
                <i class="defense-icon"></i>防具
            </li>
            <li data-value="人物" data-index="2">
                <i class="man-icon"></i>人物
            </li>
            <li data-value="其它" data-index="3">
                <i class="other-icon"></i>其它
            </li>

        </ul>

    </section>


    <div lists class="lists" data-show="">


        <ul class="weapon-list">
            <li data-item="w1" data-cost="10">
                1.刀<span class="cost">10</span>
            </li>
            <li data-item="w2" data-cost="2">
                2.刀剑<span class="cost">2</span>
            </li>
        </ul>
        <ul class="defense-list" >
            <li data-item="d1" data-cost="1">
                1.盾<span class="cost">1</span>
            </li>
            <li data-item="d2" data-cost="3">
                2.牌<span class="cost">3</span>
            </li>
        </ul>
    </div>

</div>