<section class="select">

    <h3><%= data.title %></h3>

    <ul>

        <% data.anwsers.forEach(function(a,i){ %>
            <li data-value="<%= a %>"><%= i %>.<%= a %></li>
        <%}) %>

    </ul>

</section>