<section class="select">

    <h3><%= title %></h3>

    <ul>

        <% anwsers.forEach(function(a,i){ %>
            <li data-value="<%= a %>"><%= i %>.<%= a %></li>
        <%}) %>

    </ul>

</section>